/.idea/
/docs/
/experiments/
/jama/
/models/ukp_aspects_all/
/Paper_related/
/qrels/
/wISE_result/
/result/
/._.DS_Store
/AHP.py
/all_journal_content.csv
/argumin_sim.py
/create_result_DT.py
/dot_product.py
/elif_journal.csv
/elif_journal_content.csv
/extract_jounal_content_elife.py
/GoodIT genuine score.drawio.png
/gpt.py
/sentiments.py
/similarity_docs.py
/naacl_train.py
/main.py
/jama_journal.csv
/jama_journal_content.csv
/scrap_politfact.py
/SigmoidBERT.py
